<div class="content flex-grow-1">
    <!-- <div class="filter-box">
        
    </div>
    <div class="data-table">
    
    </div>
    <div class="graph-data">

    </div> -->
    <!-- <div class="side-box-dashboard">
        <h5 class="text-center">Todays Statistics</h5>
        <p class="text-center">Tue, 11 Jun, 2024, 10.56 AM</p>
        <div class="card p-3">
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content">
                    <h6>Portfolio</h6>
                </div>
                <div class="right-content">
                    <span class="badge bg-secondary-custom">Today</span>
                </div>
            </div>
            <hr>
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content internal-box">
                    <h4>₹9460.00</h4>
                </div>
                <div class="right-content">
                  <span class="text-danger">&darr; 1.5%</span>
                </div>
            </div>
            <span>Compared to ₹9460.00 yesterday.</span>
            <div class="card-content d-flex justify-content-between align-items-center mt-2">
                <div class="left-content internal-box">
                    <span>Last week Income</span>
                </div>
                <div class="right-content">
                <span>₹90460.00</span>
                </div>
            </div>
        </div>

        <div class="card p-3">
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content">
                    <h6>Portfolio</h6>
                </div>
                <div class="right-content">
                    <span class="badge bg-secondary-custom">Today</span>
                </div>
            </div>
            <hr>
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content internal-box">
                    <h4>₹9460.00</h4>
                </div>
                <div class="right-content">
                  <span class="text-danger">&darr; 1.5%</span>
                </div>
            </div>
            <span>Compared to ₹9460.00 yesterday.</span>
            <div class="card-content d-flex justify-content-between align-items-center mt-2">
                <div class="left-content internal-box">
                    <span>Last week Income</span>
                </div>
                <div class="right-content">
                <span>₹90460.00</span>
                </div>
            </div>
        </div>

        <div class="card p-3 mb-2">
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content">
                    <h6>Overdue</h6>
                </div>
                <div class="right-content">
                    <span class="badge bg-secondary-custom">Today</span>
                </div>
            </div>
            <hr>
            <div class="card-content d-flex justify-content-between align-items-center">
                <div class="left-content internal-box">
                    <h4>₹5460.00</h4>
                </div>
                <div class="right-content">
                  <span class="text-danger">&darr; 1.5%</span>
                </div>
            </div>
            <span>Compared to ₹9460.00 yesterday.</span>
            <div class="card-content d-flex justify-content-between align-items-center mt-2">
                <div class="left-content internal-box">
                    <span>Last week Income</span>
                </div>
                <div class="right-content">
                <span>₹20460.00</span>
                </div>
            </div>
        </div>
    </div> -->

    
</div>