.main-content {
    padding: 20px;
}
.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    flex: 1 1 calc(16.666% - 10px); /* 6 columns layout with gaps */
    box-sizing: border-box;
    padding: 2px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 4px #ebebeb; /* Bold bottom border */
    border-right: 4px #ebebeb; /* Bold right border */
    box-shadow: 6px 5px 11px 3px rgba(0, 0, 0, 0.1); /* Light shadow */
    
}
.card:hover{
    background-color: #454545;
    color:#FFB661;
    .card-text-below{
        color: #fff !important;
    }
}
.card-header {
    flex: 1;
}
.card-category{
    height: 30% !important;
}
.card-header {
    background-color: unset !important;
}
.card-text-below{
    font-size: 68% !important;
}

.card-text-icon {
    // margin-left: 2%;
    font-size: 14px;
    font-weight: 300;
}
.bi-arrow-up{
    color: #00EE0A;
}
.bi-arrow-down{
    color:red;
}
.action .btn{
    border: none;
    background-color: inherit;
    padding: 7px 12px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}
.action .btn:hover {
  background: #e8a658;
  color: #454545;
}
.warning {
    color: orange;
}
.search-bar {
    min-width: 360px;
    padding: 0 12px;
    border-radius: 12px;
}
.search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
}
.search-form {
    width: 80%;
    border: 1px solid #ddd;
}
.search-form input {
    border: 0;
    color: #A3A3A3;
    padding: 7px 38px 7px 8px;
    border-radius: 6px !important;
    transition: 0.3s;
    width: 100%;
    box-shadow: 0px 2.703px 27.031px 0px rgba(69, 69, 80, 0.10);
}
.search-form input:focus,
.search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}
.search-form button {
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}
.search-form button i {
    color: #012970;
}
.container {
    width: 98%;
    height: 70vh; 
    border: 1px solid #ddd;;
    display: flex;
    padding-left: unset !important;
    padding-right: unset !important;
    margin-left: 1%;
}
.column {
    flex: 1;
    border-right: 1px solid #ddd;
    
}
.column:last-child {
    border-right: none;
}
.column h6 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    background-color: #F1F1F1;
    border-bottom: 1px solid #ddd;
}
.extra-content {
    margin-top: 20px;
}

  

  