<div class="main-content">
    <h5 class="page-name mt-2 mb-2">Agent Management</h5>
    <div class="show-hide-pin">
        <mat-accordion class="mt-1" (click)="toggleClass()" [class.active]="isActive">
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title> <span class="filter-class">Filters</span></mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="below-line"></div>
            <div class="form">
                <div class="form-field">
                    <form [formGroup]="filterForm">
                        <div class="row">
                        <div class="col-md-3">
                            <div class="input-group">
                                <input placeholder="Agent ID" type="text" class="form-control" formControlName="agentId">
                                <label>Agent ID</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input placeholder="Agent Name" type="text" class="form-control" formControlName="agentName">
                                <label>Agent Name</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input placeholder="Agency Name" type="text" class="form-control" formControlName="agencyName">
                                <label>Agency Name</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input placeholder="Agency ID" type="text" class="form-control" formControlName="agencyId">
                                <label>Agency ID</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input placeholder="Branch" type="text" class="form-control" formControlName="branchName">
                                <label>Branch</label>
                            </div>
                        </div>
                        <div class="col-md-3 search-btn">
                            <button type="button" class="btn btn-primary" (click)="filter()">Search</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            
            </mat-expansion-panel>
        </mat-accordion>    
        @if(isActive){
            <div class="pin-fill"><i class="bi bi-pin-angle-fill"></i></div>
        }
    </div>
    
    <div class="action mt-1 mb-1">
        <button class="btn warning">Export <i class="bi bi-download"></i></button>
        <button class="btn warning" routerLink="agent-management-submit">Add <i class="bi bi-plus-lg bold-icon"></i></button>
    </div>
    <table class="global-table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Agent ID</th>
                <th>Agent Name</th>
                <th>Agency Name</th>
                <th>Agency ID</th>
                <th>Branch</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for (data of browseList| paginate: { itemsPerPage: itemsPerPage,
                currentPage: p, totalItems: totalRecords }; track $index) {
               <tr>
                <td>{{ $index+1 }}</td>
                <td>{{ data.agentId}}</td>
                <td>{{ data.agentName }}</td>
                <td>{{ data.agencyName }}</td>
                <td>{{ data.agencyId}}</td>
                <td>{{ data.branchName }}</td>
                <td>
                    @if(data.status === 265){
                        <button class="button" 
                        (click)="onStatusChange(data.id, data.status)">Active</button>
                    } @else {
                        <button class="button-inactive" (click)="onStatusChange(data.id, data.status)">Inactive</button>
                    }
                </td>
                <td>
                    <div class="dropdown">
                        <span class="action-button" type="button" id="actionButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-three-dots-vertical"></i>
                        </span>
                        <ul class="dropdown-menu" aria-labelledby="actionButton">
                            <li><a class="dropdown-item" routerLink="agent-management-submit/edit/{{ data.id }}">View</a></li>
                        </ul>
                    </div>
                </td>
               </tr>
            }
        </tbody>                                                                                
    </table>
    <div class="d-flex justify-content-between mt-2">
        <div class="mt-2">
            <pagination-controls (pageChange)="p = $event; getNextPageData($event)"></pagination-controls>
        </div>
        <div class="mt-2">
            <span for="">Results per page: </span>
            <select id="itemsPerPage" (change)="onChangeItemsPerPage($event)">
                <option *ngFor="let option of availableItemsPerPage" [value]="option">
                {{ option }}
                </option>
            </select>
        </div>
        
    </div>
</div>