<div class="main-content">
    <h5 class="page-name mt-2 mb-2">Lead Uploads</h5>
    <div class="d-flex justify-content-between mt-2">
        <div></div>
        <div class="add-button mt-1 mb-1">
            <button type="button" class="btn btn-outline-secondary ml-2">Choose File</button>
            <button type="button" class="btn btn-outline-secondary ml-1">Sample</button>
            <button type="button" class="btn btn-primary ml-1" routerLink="lead-upload">Upload</button>
            <button type="button" class="btn btn-primary ml-1">Download</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="global-table table">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Mobile Number *</th>
                    <th>First Name(Name of Applicant)</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Customer Category</th>
                    <th>Product</th>
                    <th>Sub Product</th>
                    <th>Loan Amount</th>
                    <th>Purpose</th>
                    <th>City *</th>
                    <th>Pincode</th>
                    <th>Lead Type</th>
                    <th>Source Employee Code</th>
                    <th>Source *</th>
                    <th>Sub Source *</th>
                    <th>Unique_ID</th>
                    <th>Lead Status</th>
                    <th>Lead Source Type</th>
                    <th>Customer ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>                                                                                
        </table>
    </div>
</div>