<div class="login-container">
    <div class="tv-3">
      <div class="rectangle-parent">
        <div class="frame-child"></div>
        <div class="rectangle-group">
          <div class="frame-item"></div>
          <img
            class="image-20-icon"
            loading="lazy"
            alt=""
            src="assets/images/image-20@2x.png"
          />
        </div>
        <div class="frame-parent">
          <div class="business-loan-sme-parent">
            <h1 class="business-loan-">Business Loan - SME</h1>
            <i class="loan-origination-system-container">
              <span>Loan Origination System - Next Gen </span>
              <span class="v10">v.1.0</span>
            </i>
          </div>
          <div class="solution">
            <div class="los-next-gen">
              LOS next gen v.1.0 is an end to end solution which envisages loan
              origination with automated data collection, Verifying documents,
              Underwriting Process & Workflows.
            </div>
          </div>
          <img
            class="secure-login-icon"
            loading="lazy"
            alt=""
            src="assets/images/Secure login_1.png"
          />
        </div>
   
      </div>
      <div class="tv-3-inner mt-5">
        <form class="rectangle-container" [formGroup]="setForm">
          <a class="welcome-back">Welcome!</a>
          
          <div class="login-button">
            <h1 class="login">Set Password</h1>
          </div>
          
          <div class="password-input-parent">
            <div class="password-input">
              <div class="enter-your-password">Default Password</div>
              <div class="group-div">
                <div class="frame-child2"></div>
                <input
                  formControlName="defaultPassword"
                  class="frame-input"
                  placeholder="Enter Default Password"
                  type="text"
                />
              </div>
                @if (submitted && setForm.controls['defaultPassword'].invalid ) {
                    <div  class="error-message">
                      Password is required and must be at least 4 characters long.
                    </div>
                }
            </div>
          </div>
          
          <div class="password-input-parent">
            <div class="password-input">
              <div class="enter-your-password">New Password</div>
              <div class="group-div">
                <div class="frame-child2"></div>
                <input
                  formControlName="newPassword"
                  class="frame-input"
                  placeholder="Enter New Password"
                  [type]="showNewPassword ? 'text' : 'password'"
                  type="password"
                />
                <i class="bi" (click)="toggleNewPasswordVisibility()" [ngClass]="showNewPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </div>
              @if (submitted && setForm.controls['newPassword'].invalid ) {
                <div  class="error-message">
                  Password is required and must be at least 4 characters long.
                </div>}
            </div>
          </div>

          <div class="password-input-parent">
            <div class="password-input">
              <div class="enter-your-password">Confirm Password</div>
              <div class="group-div">
                <div class="frame-child2"></div>
                <input
                  formControlName="confirmPassword"
                  class="frame-input"
                  placeholder="Enter Confirm Password"
                  type="password"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                />
                <i class="bi" (click)="toggleConfirmPasswordVisibility()" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </div>
              <!-- @if (submitted && setForm.controls['confirmPassword'].invalid ) {
                <div  class="error-message">
                  Password is required and must be at least 4 characters long.
                </div>} -->
                @if (submitted && setForm.controls['confirmPassword'].errors?.['passwordMismatch'] ) {
                    <div class="error-message">
                      Passwords do not match.
                    </div>
                  }
            </div>
          </div>
          <button class="group-button" (click)="onSubmit()">
            <a class="login1" style="color: black; margin-top: 6px;">Set Password</a>
          </button>
        </form>
        
        <div class="logo-btm1">
          <span>
            Version: BL-SME-LOS.V.1.1 | Year: 2024 | Best viewed in Google Chrome and Microsoft Edge
          </span>
          <div class="logo-btm">
            <img src="assets/images/pwerByEmsyne.png" alt="Emsyne" />
          </div>
        </div>
        
      </div>
      
    </div>
  </div>