<h2 mat-dialog-title>Status Change <button mat-button mat-dialog-close class="modal-custom-close">X</button></h2>
<hr />
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <select class="form-control form-select">
            <option value="">--Select-- </option>
            <option value="1">Option1</option>
            <option value="1">Option2</option>
            <option value="1">Option3</option>
            <option value="1">Option4</option></select>
            <label>Status <span class="required">*</span></label>
        </div>
    </div>
  </div>
</mat-dialog-content>
<hr />
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger pull-right mr-2">Close</button>

  <button mat-button type="submit" class="btn btn-danger pull-right">Submit</button>
</mat-dialog-actions>
