// .input-group {
//     margin-top: unset;
// }
.temp-grid-fields{
    margin-left: 1.7%;
    margin-top:16px;
    .input-group{
        margin-bottom: 3%;
    }
}
.below-line{
    border-bottom: 1px solid #888;
    margin-left: 19px;
    margin-right: 1.5%;
}
.pin-fill{
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 48%;
    background-color: #ececec;
    font-size: 17px;
}
.add-button .btn-primary{
    margin-top: 7.2% !important;
    background-color: #5B5B5B;
    color: #fff;
    border-color: #5B5B5B;
}
.file-upload{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.float-right{
    float: right;
    margin-right: 14px;
    color: grey;
    font-size: 12px;
}
textarea{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}